<nav class="<%= location %> navbar navbar-dark bg-dark navbar-expand-md">
  <%= link_to  "Portfolio", root_path, class: "navbar-brand" %>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to  "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "About", about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Contact", contact_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Blog", blogs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Portfolio", projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Wyloguj", destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>
    </ul>
  </div>
</nav>
